{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Contact</title>#}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">#}
{#</head>#}
{#<body style="background-color: #141A44;color: white;">#}
{#    <div class="container">#}
{#        <nav style="color: white;" class="navbar justify-content navbar-expand-lg">#}
{#            <h1><b>Selecao</b></h1>#}
{#            <div style="margin-left: 30%;" class="form-outline">#}
{#              <ul class="navbar-nav">#}
{#                  <li><a style="color: white;border-radius: 50px;border-color: #141A44;margin-left: 2px;" class="btn btn-warning" href="{% url 'blog:post-list' %}">Home</a></li>#}
{#                  <li><a style="color: white;border-radius: 50px;border-color: #141A44;margin-left: 2px;" class="btn btn-outline-warning" href="#">About</a></li>#}
{#                  <li><a style="color: white;border-radius: 50px;border-color: #141A44;margin-left: 2px;" class="btn btn-outline-warning" href="#">Services</a></li>#}
{#                  <li><a style="color: white;border-radius: 50px;border-color: #141A44;margin-left: 2px;" class="btn btn-outline-warning" href="#">Portfolio</a></li>#}
{#                  <li><a style="color: white;border-radius: 50px;border-color: #141A44;margin-left: 2px;" class="btn btn-outline-warning" href="#">Pricing</a></li>#}
{#                  <li><a style="color: white;border-radius: 50px;border-color: #141A44;margin-left: 2px;" class="btn btn-outline-warning" href="#">Team</a></li>#}
{#                  <li class="dropdown">#}
{#                      <a style="color: white;border-radius: 50px;border-color: #141A44;margin-left: 2px;" class="dropdown-toggle btn btn-outline-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                          Dropdown#}
{#                      </a>#}
{#                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                          <a class="dropdown-item" href="#">Action</a>#}
{#                          <a class="dropdown-item" href="#">Another action</a>#}
{#                          <div class="dropdown-divider"></div>#}
{#                          <a class="dropdown-item" href="#">Something else here</a>#}
{#                      </div>#}
{#                  </li>#}
{#              </ul>#}
{#            </div>#}
{#        </nav>#}
{#        <br>#}
{##}
{#        <br>#}
{#        <div class="container">#}
{#            <div class="row mb-2">#}
{#                <form style="margin-left: 50%;text-align: center" method="post">{% csrf_token %}#}
{#                <div class="form-row">#}
{#                    <div class="form-group col-md-6">#}
{#                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">#}
{#                    </div>#}
{#                    <div class="form-group col-md-6">#}
{#                        <input type="text" class="form-control" id="email" name="email" placeholder="Email">#}
{#                    </div>#}
{#                </div>#}
{#                    <div class="form-group">#}
{#                        <input type="text" class="form-control" id="subjuct" name="subject" placeholder="Subjuct">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <textarea style="resize: none" class="form-control" id="message" name="message" placeholder="Massage" rows="10" cols="5"></textarea>#}
{#                    </div>#}
{#                    <button style="border-radius: 50px;border-color: #141A44;color: white" type="submit" class="btn btn-warning">Send Message</button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>#}
{#</body>#}
{##}
{#</html>#}