<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body style="overflow-x: hidden;">
<nav style="z-index: 10;background-color: #4C4071;width: 100%;color: white;position: fixed;" class="navbar justify-content navbar-expand-lg">
    <div class="container">
        <h1><b>Selecao</b></h1>
        <div style="margin-left: 30%" class="form-outline">
          <ul class="navbar-nav">
              <li><a style="color: white;border-radius: 50px;border-color: #4C4071;margin-left: 2px;" class="btn btn-warning" href="#">Home</a></li>
              <li><a style="color: white;border-radius: 50px;border-color: #4C4071;margin-left: 2px;" class="btn btn-outline-warning" href="#about">About</a></li>
              <li><a style="color: white;border-radius: 50px;border-color: #4C4071;margin-left: 2px;" class="btn btn-outline-warning" href="#services">Services</a></li>
              <li><a style="color: white;border-radius: 50px;border-color: #4C4071;margin-left: 2px;" class="btn btn-outline-warning" href="#">Portfolio</a></li>
              <li><a style="color: white;border-radius: 50px;border-color: #4C4071;margin-left: 2px;" class="btn btn-outline-warning" href="#">Pricing</a></li>
              <li><a style="color: white;border-radius: 50px;border-color: #4C4071;margin-left: 2px;" class="btn btn-outline-warning" href="#">Team</a></li>
              <li class="dropdown">
                  <a style="color: white;border-radius: 50px;border-color: #4C4071;margin-left: 2px;" class="dropdown-toggle btn btn-outline-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </li>
              <li><a style="color: white;border-radius: 50px;border-color: #4C4071;margin-left: 2px;" class="nav-link btn btn-outline-warning" href="#contact">Contact</a></li>
          </ul>
        </div>
    </div>
    </nav>

<br><br><br><br><br>

<div style="background-color: #940202;border-radius: 20px;" class="container shadow p-5">
<div style="height: 300px;padding: 20px 10px 10px 10px;color: white;background-color: #940202" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div style="margin-left: 35%;text-align: center;" class="container">
                <div class="row mb-2">
                    <div style="margin-right: 70%;">
                        <h2><b>Welcome to Selecao</b></h2>
                        <p>
                            I want to see that how these slides can be show it's values.
                            There are several possible reasons why your images are not showing up on your pages as expected:
                            The image file is not located in the .same location that is specified in your IMG tag.
                        </p>
                        <button style="border-radius: 50px;color: white;" class="btn btn-outline-warning">Read More</button>
                    </div>
                </div>
            </div>
        </div>

        {% for post in my_posts %}
            <div class="carousel-item">
                <div style="margin-left: 35%;text-align: center;" class="container">
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <h4><b>{{ post.subject }}</b></h4>
                            <h6>{{ post.message }}</h6>
                            <strong>{{ post.name }}</strong>
                            <p>{{ post.responsibility }}</p>
                            <p>{{ post.date }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>
<br>

<div style="border-radius: 20px;" class="container shadow p-5">
    <div class="row">
        <div class="col-6">
            <h2 id="about"><b>WHO WE ARE</b></h2>
            <P>
                Using color to add meaning only provides a visual indication,
                which will not be conveyed to users of assistive technologies – such as screen readers
            </P>
            <ul style="list-style-image: url('https://img.icons8.com/material-rounded/24/000000/double-tick.png');">
                <li>Snuggle up, grab your favourite teddy</li>
                <li>enjoy Bedtime Tales with Matilda.</li>
                <li>Retold time and time again, Matilda dives into the world of Rapunzel</li>
            </ul>
        </div>
        <div style="text-align: center;" class="col-6 mt-3">
            <p>
                Rediscover this infamous Brother’s Grimm tale where kindness and teamwork conquers evil.
                Matilda takes children on a brave journey with Hansel and Gretal from their father’s cottage,
                to getting lost in the woods, to the gingerbread house where they escape a cruel hungry witch!
                Using color to add meaning only provides a visual indication,
                which will not be conveyed to users of assistive technologies – such as screen readers.
                Ensure that information denoted by the color is either obvious from the content itself (e.g. the visible text),
                or is included through alternative means, such as additional text hidden with the .sr-only class.
            </p>
            <button style="border-radius: 50px;color: white" class="btn btn-warning">Learn More</button>
        </div>
    </div>
    <br>
</div>

<br>

<div style="background-color: #4C4071;color: white">
    <div class="container">
        <br>
        <h2><b>Call To Action</b></h2>
        <div class="row">
            <div class="col-10">
                <p>
                    Rediscover this infamous Brother’s Grimm tale where kindness and teamwork conquers evil.
                    Matilda takes children on a brave journey with Hansel and Gretal from their father’s cottage,
                    to getting lost in the woods, to the gingerbread house where they escape a cruel hungry witch!
                    Using color to add meaning only provides a visual indication,
                </p>
            </div>
            <div class="col-2 mb-4">
                <button style="border-radius: 50px;border-color: #4C4071;color: #FCA400" class="btn btn-outline-light"><b>CALL TO ACTION</b></button>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="container-sm">
            <br>
            <h2 id="services"><b>WHAT WE DO OFFER</b></h2>
            <br>
            <div class="row justify-content-md-center">
                <div style="background-position: bottom;background-image: url('https://img.icons8.com/material-rounded/96/4a90e2/green-earth.png');background-repeat: no-repeat;border-radius: 20px;margin-right: 10px;" class="col-sm-3 shadow p-3 mb-5 bg-white rounded align-self-start">
                    <h5><b>Lorem Ipsum</b></h5>
                    <p>
                        <b>
                        In publishing and graphic design,
                        Lorem ipsum is a placeholder text commonly used
                        </b>
                    </p>
                </div>
                <div style="background-position: bottom;background-image: url('https://img.icons8.com/ios/100/fa314a/clock.png');background-repeat: no-repeat;;border-radius: 20px;margin-right: 10px;" class="col-sm-3 shadow p-3 mb-5 bg-white rounded align-self-start">
                    <h5><b>Lorem Ipsum</b></h5>
                    <p>
                        <b>
                        In publishing and graphic design,
                        Lorem ipsum is a placeholder text commonly used
                        </b>
                    </p>
                </div>
                <div style="background-position: bottom;background-image: url('https://img.icons8.com/ios-filled/100/26e07f/book.png');background-repeat: no-repeat;;border-radius: 20px;margin-right: 10px;" class="col-sm-3 shadow p-3 mb-5 bg-white rounded align-self-start">
                    <h5><b>Lorem Ipsum</b></h5>
                    <p>
                        <b>
                        In publishing and graphic design,
                        Lorem ipsum is a placeholder text commonly used
                        </b>
                    </p>
                </div>
                <div style="background-position: bottom;background-image: url('https://img.icons8.com/ios-filled/100/fa314a/radio.png');background-repeat: no-repeat;;border-radius: 20px;margin-right: 10px;" class="col-sm-3 shadow p-3 mb-5 bg-white rounded align-self-end">
                    <h5><b>Lorem Ipsum</b></h5>
                    <p>
                        <b>
                        In publishing and graphic design,
                        Lorem ipsum is a placeholder text commonly used
                        </b>
                    </p>
                </div>
                <div style="background-position: bottom;background-image: url('https://img.icons8.com/ios-filled/100/26e07f/bag-front-view.png');background-repeat: no-repeat;;border-radius: 20px;margin-right: 10px;" class="col-sm-3 shadow p-3 mb-5 bg-white rounded align-self-end">
                    <h5><b>Lorem Ipsum</b></h5>
                    <p>
                        <b>
                        In publishing and graphic design,
                        Lorem ipsum is a placeholder text commonly used
                        </b>
                    </p>
                </div>
                <div style="background-position: bottom;background-image: url('https://img.icons8.com/ios-filled/100/4a90e2/apple-mail.png');background-repeat: no-repeat;;border-radius: 20px;margin-right: 10px;" class="col-sm-3 shadow p-3 mb-5 bg-white rounded align-self-end">
                    <h5><b>Lorem Ipsum</b></h5>
                    <p>
                        <b>
                        In publishing and graphic design,
                        Lorem ipsum is a placeholder text commonly used
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
<div style="border-radius: 20px;" class="container shadow p-5">
    <div class="row">
        <div class="col-8">
            <h2 id="contact"><b>CONTACT US</b></h2>
            <img src="https://img.icons8.com/wired/64/000000/worldwide-location.png" alt="location"/>
            <h5>A108 Adam street, New York NY 535022</h5>
            <br>
            <img src="https://img.icons8.com/wired/64/000000/email.png" alt="email"/>
            <h5>info@example.com</h5>
            <br>
            <img src="https://img.icons8.com/wired/64/000000/number-pad.png" alt="phone number"/>
            <h5>+1 5589 55488 55s</h5>
        </div>
        <div  class="col-4 mt-3">
            <div class="row mb-2">
                <form style="text-align: center;" method="post">{% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subjuct" name="subject" placeholder="Subjuct">
                    </div>
                    <div class="form-group">
                        <textarea style="resize: none" class="form-control" id="message" name="message" placeholder="Massage" rows="10" cols="5"></textarea>
                    </div>
                    <button style="border-radius: 50px;color: white" type="submit" class="btn btn-success">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<nav style="background-color: #4C4071;color: white;" class="navbar navbar-expand-lg">
    <div class="container">
        <div class="col-4">
            <h4><b>Copyright &#169; {{ year }}</b></h4>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <a style="border-radius: 20px;border-color: #4C4071;" class="btn btn-outline-warning" href="#">
                <img src="https://img.icons8.com/fluent-systems-regular/48/000000/telegram-app.png"/>
            </a>
            <a style="border-radius: 20px;border-color: #4C4071;" class="btn btn-outline-warning" href="#">
                <img src="https://img.icons8.com/fluent-systems-regular/48/000000/twitter.png"/>
            </a>
            <a style="border-radius: 20px;border-color: #4C4071;" class="btn btn-outline-warning" href="#">
                <img src="https://img.icons8.com/material-outlined/48/000000/instagram-new--v2.png"/>
            </a>
            <a style="border-radius: 20px;border-color: #4C4071;" class="btn btn-outline-warning" href="#">
                <img src="https://img.icons8.com/fluent-systems-regular/48/000000/reddit.png"/>
            </a>
        </div>
    </div>
</nav>

</body>

</html>